
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [test]
GO
/****** Object:  Table [dbo].[register]    Script Date: 22.06.2023 22:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[register](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[login_user] [varchar](50) NOT NULL,
	[password_user] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tovar]    Script Date: 22.06.2023 22:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tovar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name_tovar] [nvarchar](max) NOT NULL,
	[count] [nchar](50) NOT NULL,
	[postavshik] [nvarchar](max) NOT NULL,
	[otdelen] [nvarchar](max) NOT NULL,
	[price] [nvarchar](15) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[register] ON 

INSERT [dbo].[register] ([id_user], [login_user], [password_user]) VALUES (1, N'admin', N'admin')
INSERT [dbo].[register] ([id_user], [login_user], [password_user]) VALUES (8, N'Artem', N'123')
SET IDENTITY_INSERT [dbo].[register] OFF
GO
USE [master]
GO
